---
title: Liste de mariage
layout: layouts/base.njk
permalink: list.html
---

<div class="sm:grid sm:grid-cols-1 md:grid-cols-2 gap-36">

    <div>
        <h1>{{ title }}</h1>
        <p>À venir prochainement...</p>
    </div>

    <div>
    </div>

</div>