---
title: Votre réponse
layout: layouts/base.njk
permalink: rsvp.html
---

<div class="sm:grid sm:grid-cols-1 md:grid-cols-2 gap-36">

    <div>
        <h1>{{ title }}</h1>
        <p>Vous trouverez sur cette page le formulaire par le biais duquel vous pourrez nous faire part de votre présence, ou de votre absence lors de notre mariage.</p>
        <p>Le nombre de places d’accueil sur le lieu de réception étant limité (environ 80 personnes), nous vous remercions par avance de bien vouloir nous dire <strong>dès maintenant</strong> si vous ne pourrez malheureusement pas être présent le 27 août prochain – cela nous sera indispensable pour organiser au mieux cet évènement.</p>
        <p>En toute hypothèse, nous vous saurions gré de bien vouloir valider votre présence avant le 31 mars 2022.</p>
        <p>Nous avons hâte de tous vous voir !</p>
    </div>

    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfoGGrdx8CAIq4US2M6Fyd35ilrPaasx4W98CsMjXqU9nSRnQ/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0" class="gform">Chargement…</iframe>
    </div>

</div>