---
title: Votre réponse
layout: layouts/base.njk
permalink: rsvp.html
---

<div class="sm:grid sm:grid-cols-1 md:grid-cols-2 gap-36">

    <div>
        <h1>{{ title }}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dapibus feugiat mi, at tempus orci gravida non. Praesent tristique fermentum nunc ut posuere. Nullam non velit accumsan, faucibus lorem quis, scelerisque nisl. Suspendisse congue iaculis lectus et volutpat. Etiam ex orci, scelerisque ac justo eu, sollicitudin finibus metus.</p>
        <p>Suspendisse consectetur nisi id hendrerit tristique. Vestibulum orci nulla, consequat quis metus sit amet, ultricies efficitur justo. Vivamus aliquet bibendum dui, a cursus nunc. Ut tortor risus, pulvinar non lacinia eu, blandit quis purus. Mauris ut dolor non leo finibus semper sed id tellus. Proin venenatis euismod odio ac feugiat.</p>
    </div>

    <div>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdV36a9p6paLPKwVNsmcG6yFYAl77OmxEeChG3ZshYgCdDZtQ/viewform?embedded=true" width="100%" frameborder="0" marginheight="0" marginwidth="0" class="gform">Chargement…</iframe>
    </div>

</div>